@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.App {
  max-width: 650px;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}

.box {
  border: 1px solid #ced4d9;
  padding: 10px 50px 50px 50px;
  border-radius: 6px;
}
h2,
p,
span,
div {
  color: #4d617c;
}

p,
span {
  font-size: 18px;
}
h1 {
  visibility: hidden;
}
small {
  color: #4d617c;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin: 20px auto;
  text-align: center;
}
