.actual-temperature {
  margin: 5px 0 5px 0;
  font-size: 77px;
  font-weight: 600;
  text-align: left;
}
.celcius-button,
.fahrenheit-button,
.units {
  font-size: 28px;
  padding-left: 0;

  justify-content: center;
}
.actual-temperature {
  vertical-align: -30%;
}
button {
  border: none;
  color: #4d617c;
  background-color: transparent;
}
button:focus {
  outline: none !important;
  box-shadow: none;
}
.pressed-button {
  font-size: 28px;
  font-weight: 700;
}
.unpressed-button {
  font-size: 28px;
  font-weight: 200;
}
.units {
  margin-top: 4px;
}
